@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body{
  margin: 0;
  min-height: 100vh;
  font-family: "jost", sans-serif;
  font-weight: 400;
  color: #292f36;
  background-color: white;
}

a{
  text-decoration: none;
}

/*Main color*/
.primary_background{
  background-color: #0c70f2; 
}

.primary_color{
  background-color: #0c70f2; 
}

.secondary_background{
  background-color: #1d1d1d; 
}

.secondary_color{
  background-color: #1d1d1d; 
}

.tertiary_background{
  background-color: #f6f6f6; 
}

.tertiary_color{
  background-color: #f6f6f6; 
}


/* GRID */

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding: 0 30px;
}

.al-center{
  align-items: end;
}

.al_end{
  align-items: end;
}

.d_flex{
  display: flex;
}

.fd-column{
  flex-direction: column;
}

.jc-center{
  justify-content: center;
}

.jc-end{
  justify-content: end;
}

.jc-space-between{
  justify-content: space-between;
}



@media (max-width: 768px){
  .container{
    width: 90%;
  } 

  .mobile-fd-column{
    flex-direction: column;
  }
}